body {
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.red {
  background-color: #d55075;
}

.green {
  background-color: #58a0b9;
}

.orange {
  background-color: #fa903b;
}

.blue {
  background-color: #7794f8;
}

.flash {
  background: white;
}

.userFlash {
  background-color: green;
}
